{% extends "EspritMoocBundle::Layout.html.twig" %}

{% block content %} 
    <section id="blog" class="container">
        <div class="center">
            <div class="get-started center wow fadeInDown animated" style="visibility: visible; animation-name: fadeInDown;">
                <h2>Chapitre 1</h2>
                <p class="lead">Java 8 est la dernière version de Java et offre de nouvelles fonctionnalités,<br> des performances accrues et des corrections de bug pour améliorer l'efficacité </p>
                <div class="request">
                    <h4><a href="#">Request a free Quote</a></h4>
                </div>
            </div>
            <h2> </h2>
            <p class="lead"></p>
        </div>

        <div class="blog">
            <div class="row">
                <div class="col-md-8">
                    <div class="blog-item">
                        <div class="embed-responsive embed-responsive-16by9">
<iframe class="embed-responsive-item" width="100%" height="350" src="https://www.youtube.com/embed/wZuxBgbCNto" frameborder="0" allowfullscreen></iframe>
</div>
                            <div class="row">  
                                <div class="col-xs-12 col-sm-2 text-center">
                                    <div class="entry-meta">
                                        <span id="publish_date">07  NOV</span>
                                        <span><i class="fa fa-user"></i> <a href="#"> John Doe</a></span>
                                        <span><i class="fa fa-comment"></i> <a href="blog-item.html#comments">2 Comments</a></span>
                                        <span><i class="fa fa-heart"></i><a href="#">56 Likes</a></span>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-10 blog-content">
                                    <h2>Description</h2>
                                    <p>Aujourd'hui je lance ma nouvelle série de tutoriels qui sera sur la programmation orientée objet, le langage utilisé sera le Java.
Je commence à partir de zéro, donc ce tutoriel s'adresse à ceux qui ne connaissent rien du tout à la programmation.</p>

                                    <div class="post-tags">
                                        
                                    </div>

                                </div>
                            </div>
                        </div><!--/.blog-item-->
                        
                        <div class="media reply_section">
                            <div class="pull-left post_reply text-center">
                                <a href="#"><img src="{{asset ('bundles/espritmooc/images/blog/boy.png')}}" class="img-circle" alt="" /></a>
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus"></i> </a></li>
                                </ul>
                            </div>
                            <div class="media-body post_reply_content">
                                <h3><b>This Course Was Uploadet By <a href="">Antone L. Huges</a></b></h3>
                                
                                <p><strong>Profile:</strong> <a href="http://www.shapebootstrap.net">Antone L. Huges</a></p>
                            </div>
                        </div> 
                        
                        
                        <div class="media">
                            <div class="learning-goals">
                                <h3><b>Chapter Objectifs</b></h3>
                                <h4>NOVEMBER 9, 2013 AT 9:15 PM</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud</p>
                                
                            </div>

                        
                            <div class="media">
                            <div class="parrent pull-left">
                                <ul class="nav nav-tabs nav-stacked">
                                    <li class="active"><a href="#tab1" data-toggle="tab" class="analistic-01">Chapitre 1</a></li>
                                    <li class=""><a href="#tab2" data-toggle="tab" class="analistic-02">Chapitre 2</a></li>
                                    <li class=""><a href="#tab3" data-toggle="tab" class="tehnical">Chapitre 3</a></li>
                                    <li class=""><a href="#tab4" data-toggle="tab" class="tehnical">Chapitre 4</a></li>
                                    <li class=""><a href="#tab5" data-toggle="tab" class="tehnical">Chapitre 5</a></li>
                                </ul>
                            </div>

                            <div class="parrent media-body">
                                <div class="tab-content">
                                    <div class="tab-pane fade active in" id="tab1">
                                        <div class="media">
                                         
                         <div class="single-profile-top wow fadeInDown animated" data-wow-duration="1000ms" data-wow-delay="300ms" style="visibility: visible; animation-duration: 1000ms; animation-delay: 300ms; animation-name: fadeInDown;">
                            <div class="media">
                                <div class="media-body">
                                    <h4>Chapter 2 Description</h4>
                                </div>
                            </div><!--/.media -->
                            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
                            <a class="btn btn-primary" href="chapter.html">Read More </a>
                        </div>
                                        </div>
                                    </div>

                                     <div class="tab-pane fade" id="tab2">
                                            <div class="media">
                                         
                         <div class="single-profile-top wow fadeInDown animated" data-wow-duration="1000ms" data-wow-delay="300ms" style="visibility: visible; animation-duration: 1000ms; animation-delay: 300ms; animation-name: fadeInDown;">
                            <div class="media">
                                <div class="media-body">
                                    <h4>Chapter 2 Description</h4>
                                </div>
                            </div><!--/.media -->
                            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
                            <a class="btn btn-primary" href="chapter.html">Read More </a>
                        </div>
                                        </div>
                                     </div>

                                     <div class="tab-pane fade" id="tab3">
                                               <div class="media">
                                         
                         <div class="single-profile-top wow fadeInDown animated" data-wow-duration="1000ms" data-wow-delay="300ms" style="visibility: visible; animation-duration: 1000ms; animation-delay: 300ms; animation-name: fadeInDown;">
                            <div class="media">
                                <div class="media-body">
                                    <h4>Chapter 2 Description</h4>
                                </div>
                            </div><!--/.media -->
                            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
                            <a class="btn btn-primary" href="chapter.html">Read More </a>
                        </div>
                                        </div>
                                     </div>
                                     
                                     <div class="tab-pane fade" id="tab4">
                                               <div class="media">
                                         
                         <div class="single-profile-top wow fadeInDown animated" data-wow-duration="1000ms" data-wow-delay="300ms" style="visibility: visible; animation-duration: 1000ms; animation-delay: 300ms; animation-name: fadeInDown;">
                            <div class="media">
                                <div class="media-body">
                                    <h4>Chapter 2 Description</h4>
                                </div>
                            </div><!--/.media -->
                            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
                            <a class="btn btn-primary" href="chapter.html">Read More </a>
                        </div>
                                        </div>
                                     </div>

                                     <div class="tab-pane fade" id="tab5">
                                                 <div class="media">
                                         
                         <div class="single-profile-top wow fadeInDown animated" data-wow-duration="1000ms" data-wow-delay="300ms" style="visibility: visible; animation-duration: 1000ms; animation-delay: 300ms; animation-name: fadeInDown;">
                            <div class="media">
                                <div class="media-body">
                                    <h4>Chapter 2 Description</h4>
                                </div>
                            </div><!--/.media -->
                            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
                            <a class="btn btn-primary" href="chapter.html">Read More </a>
                        </div>
                                        </div>
                                     </div>
                                </div> <!--/.tab-content-->  
                            </div> <!--/.media-body--> 
                        </div>
                      

    </section><!--/#blog-->
    
      {% endblock %}
