{% extends "EspritMoocBundle::Layout.html.twig" %}

{% block content %}<section id="portfolio">
    <div class="container">
    <div class="container conteneur-page-invitation">
	
	<div class="conteneur-msg">
        
        <div class="span12">
            <form id="custom-search-form" class="form-search form-horizontal pull-right">
                <div class="input-append span12">
                    <input type="text" class="search-query mac-style" placeholder="Search">
                    <button type="submit" class="btn"><span class="glyphicon glyphicon-search"></span></button>
                </div>
            </form>
        </div>
        
        </div>
	<br>
	<table class="table table-hover table-invitations container">
		<thead>
			<tr>
                <th><center>nom du cours </center></th>
				<th>nom du formateur</th>
             
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><center><a href="#" id="lienSocite" target="_blank">Windows phone</a></center></td>
                <td>Hassine Othmen</td>
			</tr>
            
            
            
            	<tr>
				<td><center><a href="profilSociete.html" id="lienSocite">Android</a></center></td>
                <td>Sofien Azzouzi</td>
			</tr>
            
            
                <tr>
				<td><center><a href="profilSociete.html" id="lienSocite">Angular </a></center></td>
                    <td>Sofien Azzouzi</td>
            </tr>


		</tbody>
		   </div> <!-- /.modal -->
		    
		</div><!-- /.container -->
      
    <!-- Footer -->
		    <!-- Fin Footer -->
    <!-- Bootstrap core JavaScript
    ================================================== -->
	</table>
    </div>
</div>
        </section>	 {% endblock %}