{% extends "EspritMoocBundle::Layout.html.twig" %}

{% block registration %}
    <br>
    <br>
    <br>
    <br>
    <br>
    <section id="portfolio">
        <div class="container" id="wrap">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    {% include "FOSUserBundle:Registration:register_content.html.twig" %}
                </div>
            </div>            
        </div>
    </div>
</section>
{% endblock registration %}
